##Hello

Test your knowledge of data science

Hi my name is phu

1.list data science languages.

- Python
- R
- SQL
- C/C++
- Java
- JavaScript
- Go
- Scala
- Julia
- Swift
- MATLAB
- SAS

 list data science libraries

- scrapy
- numpy
- scipy
- pandas
- keras
- scikit
- tensorflow

a table of Data Science tools

- my sql and PostgreSQL
- MongoDB Apache CouchDB
- Apache Cassandra
- Hadoop File System
-  Cloud File
- Elasticsearch
- jupyter notebook
- Oracle database
- Microsoft SQL Server
- IBM Db2.

introducing arithmetic expression examples

In [2]:
25 + 30

55

In [1]:
60+10

70

multiply and add numbers

In [3]:
20+10

30

In [4]:
20*10

200

change minute to hours

In [6]:
120/60

2.0

Objectives

In [ ]:
- Become 1 Data Professional

In [ ]:
-make a lot of money ...

Tran Phu